.tool {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(28, 66, 159, 0.75);
  height: 100%;
}

.tool h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

.tool .form {
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 100%;
  max-width: 650px;
  padding: 50px;
  margin: auto;
  background-color: #fff;
}

.tool .form .branding img {
  vertical-align: middle;
}

.tool .form .branding span {
  font-weight: 500;
  vertical-align: middle;
  font-size: 32px;
  line-height: 60px;
}

.tool .form .btn-auth {
  border-radius: 8px;
  border-color: transparent !important;
  padding: 0.6em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  color: #fff;
  background-color: #189a46;
  transition-duration: 300ms;
}

.tool .form .btn-auth:hover {
  color: #fff;
  background-color: #1db954;
}

.tool .info {
  margin-top: 0.2em;
}

.tool .info.text {
  margin-top: 0.2em;
  display: block;
}
